body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.text {
    position: absolute;
    animation: wavey 5s ease-in-out infinite;
    color: #f35b8b;
    position: absolute;
    -webkit-text-stroke: 1px #f35b8b;
}

@keyframes wavey {
    0%,
    100% {
       clip-path: polygon(0 45%, 6% 38%, 20% 27%,
       38% 24%, 40% 47%, 49% 64%, 51% 72%,
       74% 78%, 79% 75%, 100% 67%, 100% 100%,
       0 100%);
    }
    50% {
       clip-path: polygon(0 59%, 5% 71%, 24% 86%,
       34% 71%, 41% 64%, 41% 46%, 51% 35%,
       74% 21%, 89% 35%, 100% 42%, 100% 100%,
       0 100%);
    }
 }

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    transition: 0.3s all;
    color: #f35b8b;
}

#especial{
    border: 2px solid #f35b8b;
    padding: 10px;
    border-radius: 20px;
}
#especial:hover{
    transition: 0.3s all;
    background-color: #f35b8b;
    color: white;
}

h1{
    font-weight: 200;
    font-size: 40px;
}

/* ---------------------------------- TOPO ---------------------------------- */

main{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-between;
}

h2{
    font-size: 30px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: #f35b8b;
}

p{
    margin-top: 50px;
    text-align: justify;
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 800px;
    border-radius: 5%;
}

#submit{
    background-color: #f35b8b;
    display: flex;
    width: 150px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: white;
    font-family: ppoppinsmedium;
    font-size: 18px;
}
#submit:hover{
    transition: 0.6s all;
    background-color: #f395b3;
    cursor: pointer;
}

/* ---------------------------------- TEXT ---------------------------------- */
footer {
    background-color: rgb(34, 34, 34);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 300px;
    border-top: 2px solid rgb(56, 55, 56);
}